* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: skyblue;
}
a {
  text-decoration: none;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: teal;
}
.navbar ul {
  flex: 1;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  margin: 0 30px;
}


@media only screen and (max-width: 800px){
    .text-nav{
        display: none;
    }

    .navbar ul{
        display: block;
        color: whitesmoke;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px;
        background-color: teal;
    }

    .card{
        width: 100%;
    }
}
